<!-- hero.html -->
<div class="container-fluid">
  <div class="row hero-container">
      <div class="menu-container">
          <!-- navigation links -->
          <div class="hero-menu d-none d-md-block" id="heroMenu">
              <a href="#">Grains</a>
              <a href="#">Roots/Tubbers</a>
              <a href="#">Fruits/Vegetables</a>
              <a href="#">Meat/Fish</a>
              <a href="#">Oils</a>
          </div>
      </div>

      <div class="image-container">
          <!-- Carousel for hero section -->
          <div id="heroImage" class="hero-image">
              <img src="/frontend/assets/images/placeholder-hero-img.png" alt="Image 1">
          </div>
      </div>
  </div>
</div>
