<!-- header.html -->
<header>
    <div class="header-container">
      <div class="left-section">
        <div class="hamburger-menu" id="hamburger" onclick="toggleMobileMenu()">&#9776;</div>
            <div class="logo-container">
                <div class="logo-text farmers">FARMERS</div>
                <div class="logo-text market">MARKET</div>
            </div>
        </div>
      <div class="center-section">
        <div class="search-bar">
          <input class="search-input" type="text" placeholder="Search farm item, farmer and category.">
          <button class="search-button">Search</button>
        </div>
      </div>
      <div class="right-section">
        <div class="search-icon material-icons">search</div>
        <div class="profile-icon material-icons">account_circle</div>
        <div class="cart-icon material-icons">shopping_cart</div>
      </div>
    </div>
    
        <!-- navigation links -->
    <div class="mobile-menu" id="mobileMenu">
        <a href="#">My Profile</a>
        <a href="#">Grains</a>
        <a href="#">Roots/Tubbers</a>
        <a href="#">Fruits/Vegetables</a>
        <a href="#">Meat/Fish</a>
        <a href="#">Oils</a>
      </div>
  </header>
  